body {
    margin: 20px;
}

.card {
    width: 400px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: space-between;
    background: rgb(164, 164, 215);
    padding: 20px;
    text-align: center;
    border-bottom: 15px solid #d8cefe;
    color: #2b2839;
}

.info {

    padding: 20px;
    padding-top: 30px;
    background:#d8cefe;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    width: 200px;

}

.dottedborder {
    border: 1px dotted blue;
}